@import url(https://cdn.simplecss.org/simple.min.css);
:root{
	--body-max-width: 45rem;
	--marked: #fb3779;
	--code: #0d47a1;
	--accent: #d81b60;
}
@media (prefers-color-scheme:dark) {
    ::backdrop, :root {
		--accent: #f06292;
		--code: #62c1f0;
	}
}
body {
	grid-template-columns: 1fr min(var(--body-max-width), 90%) 1fr;
}
h1{
	text-align: center;
	text-wrap: balanc;
	grid-column: 1 / 4;
}
.note{
	font-size: .9rem;
	font-style: italic;
}
.example{
	grid-column: 1/4;
	width: 100%;
	max-width: calc(9/5 * var(--body-max-width));
	height: calc(3/5 * var(--body-max-width));
	margin-inline: auto;
}